<section class="home-store-info">
    <div class="container">
        <div class="home-about-us">
            <h4 class="title">

                <span>
                    Who Are We?
                </span>

            </h4>
            <h3 class="sub-title">

                <span>
                    Purveyors of 100% NZ made premium quality products
                </span>

            </h3>
            <p style="font-size: 14px; padding-bottom:10px;">We are a vibrant boutique in the Wellington CBD,
                specialising in a collection of high end Possum Fur, Merino, Mohair and Alpaca knitwear and accessories.
                Possum Boutique is one of a kind, stocking only the finest quality products from well established NZ
                manufacturers.
                <br><br>
                These family owned companies have mastered their techniques and mixes of possum fur and merino wool to
                create the best quality, long lasting products for you to treasure and enjoy. These products are not
                only desirable, silky soft to touch, but warm and extremely light. Our luxurious collection is unique to
                Wellington in that we offer a wide selection of women’s and men’s possum fur knitwear and accessories
                all created here in New Zealand.
            </p>
            <div class="d-flex justify-content-center">
                <a class="btn text-uppercase"
                href="{{ url_for('user_sent_message_to_staff.contact_us') }}">
                <span>Contact Us</span>
                </a>

            </div>
            

        </div>



    </div>
</section>