<section class="home-store-info">
    <div class="container">
        <div class="row store-slider">
            <div class="col-12 col-sm-6 col-md-4 store-item">
                <div class="inner">

                    <span class="store-icon">
                        <i class=" fa fa-percent" aria-hidden="true"></i>
                    </span>
                    <h3 class="store-title">
                        <span>
                            100% New Zealand Made
                        </span>

                    </h3>
                    <p class="store-text">
                        <span>
                            We only sell products made entirely in New Zealand and of the highest quality.
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 store-item">
                <div class="inner">
                    <span class="store-icon">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                    <h3 class="store-title">
                        <span>
                            Premium Quality Merino
                        </span>
                    </h3>
                    <p class="store-text">
                        <span>
                            Not only attractive and silky soft to the touch, but also warm and light.
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 store-item">
                <div class="inner">
                    <span class="store-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                    <h3 class="store-title">
                        <span>
                            Free Shipping on Orders Above $200
                        </span>
                    </h3>
                    <p class="store-text">
                        <span>
                            We strive to provide a simple and stress-free online purchasing experience for our
                            customers.
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>