{% extends 'components/base.html' %}

{% block title %}
Contact Information
{% endblock %}

{% block content %}
<div class="container my-5 nav-about-us">
    <div class="text-center mb-5">
        <h1>Belmont Station Merino & Possum</h1>
    </div>
    <div class="company-profile p-4 bg-light border rounded mt-4 shadow-sm">
        <h2 class="mb-4">Company Profile</h2>
        <p>Belmont Station Merino & Possum is an online company that sells merino and possum merino clothing products.
            It serves as an additional income stream for Belmont Station – a large merino sheep farm situated in the
            mountains of Mid Canterbury. The company specializes in merino and possum merino clothing, offering a
            diverse range of associated products.</p>
        <p>The extensive collection spans various categories such as menswear, womenswear, children's and babies'
            clothing, accessories, blankets, yarn, and homewares. Additionally, there is a dedicated clearance section.
            The inventory includes both the company's own branded items, with wool sourced from merino sheep on the
            station, and products from other leading brands.</p>
        <p>The company operates with a small team of staff including a manager and systems administrator. Shipping is
            available nationwide in New Zealand, with a flat rate of $10 for standard-sized items delivered by NZ Post.
            Orders exceeding $200 qualify for free shipping. International shipping costs vary by country/region.</p>
        <p>Belmont Station Merino & Possum also features a points-based reward system to foster customer loyalty and
            regularly runs promotions and specials. The company aims to provide a user-friendly online shopping
            experience with comprehensive product showcasing, efficient order and inventory management, seamless payment
            processing, and detailed reporting.</p>
    </div>
</div>
{% endblock %}