{% extends 'components/base.html' %}
{% block title %}Add New Staff{% endblock %}
{% block content %}
{% include 'components/message.html' %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header text-white"  style="background-color: #b674b1;">
                    <h4>Add Staff Details</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('manage_staff.add_staff') }}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="username" class="form-label"><strong>Username</strong><span style="color: red"> * </span>
                                </label>
                                <input type="text" class="form-control" id="username" name="username" value="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="is_active" class="form-label"><strong>Status</strong><span style="color: red"> * </span></label>
                                <select class="form-select" id="is_active" name="is_active">
                                    <option value="1" selected>Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email" class="form-label"><strong>Email:</strong><span style="color: red"> * </span></label>
                                <input type="email" class="form-control" id="email" name="email" value="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone" class="form-label"><strong>Phone</strong></label>
                                <input type="text" class="form-control" id="phone" name="phone"  value=""  maxlength="20" >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="password" class="form-label"><strong>Password</strong><span style="color: red"> * </span></label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="confirm_password" class="form-label"><strong>Confirm
                                        Password</strong><span style="color: red"> * </span></label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="first_name" class="form-label"><strong>First Name</strong><span style="color: red"> * </span></label>
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    value="" maxlength="50" pattern="[A-Za-z]+" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last_name" class="form-label"><strong>Last Name</strong><span style="color: red"> * </span></label>
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                    value="" maxlength="50" pattern="[A-Za-z]+" required>
                            </div>
                          
                            <div class="col-md-12 mb-3">
                                <label for="street_address" class="form-label"><strong>Address</strong></label>
                                <input type="text" class="form-control" id="street_address" name="street_address" value="">
                            </div>    
                            <div class="col-md-6 mb-3">
                                <label for="city" class="form-label"><strong>City</strong></label>
                                <input type="text" class="form-control" id="city" name="city" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="state" class="form-label"><strong>State</strong></label>
                                <input type="text" class="form-control" id="state" name="state" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="country" class="form-label"><strong>Country</strong></label>
                                <input type="text" class="form-control" id="country" name="country" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="post_code" class="form-label"><strong>Post Code</strong></label>
                                <input type="text" class="form-control" id="post_code" name="post_code"  value="">
                            </div>
                           
                        </div>
                        <div class="mb-4 d-flex justify-content-between">
                            <a href="{{ url_for('manage_staff.display_all_staff') }}"
                                class="btn btn-secondary my-3 "><strong>← Back to List</strong></a>
                            <button type="submit" class="btn btn-custom my-3"><strong>Creat New Staff</strong>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}