{% extends 'components/base.html' %}
{% block title %}Staff Record Status{% endblock %}
{% block content %}
{% include 'components/message.html' %}
<div class="container my-4 py-3"
  style="background-color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <h2 class="text-center mb-4">Order List</h2>
  <div class="d-flex justify-content-between align-items-end pb-5">
    <form method="get" action="{{ url_for('staff_record_status.display_orders') }}" class="flex-grow-1">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group" style="font-size: 17px;">
            <label for="name"><strong>Name:</strong></label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Recipient Name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" style="font-size: 17px;">
            <label for="phone"><strong>Phone Number:</strong></label>
            <input type="text" name="phone" class="form-control" id="phone" placeholder="Recipient Mobile">
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-end">
          <button type="submit" class="btn btn-custom" style="min-width: 80px;font-size: 20px;">Filter</button>
        </div>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table align-middle">
      <thead class="table-success">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order ID</th>
          <th scope="col">Order Date</th>
          <th scope="col">Total Price (incl. GST)</th>
          <th scope="col">Recipient Name</th>
          <th scope="col">Recipient Mobile</th>
          <th scope="col">View Order</th>
          <th scope="col">Record Status</th>

        </tr>
      </thead>
      <tbody>
        {% for order in order_list %}
        <form method="POST" action="{{ url_for('staff_record_status.display_orders') }}">
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ order[0]| default('', true) }}</td>
            <td>{{ order[1] | default('', true)}}</td>
            <td>{{ order[2] | default('', true)}}</td>
            <td>
              {{ order[3] | default('', true)}}
              <input type="hidden" id="receive_id" name="receive_id" value="{{order[6]}}">
            </td>
            <td>{{ order[4] | default('', true)}}</td>
            <td>
              <a href="{{url_for('staff_record_status.view_order', order_id = order[0] )}}" class="btn btn-custom"><i
                  class="bi bi-eye-fill"></i>Details</a>
            </td>
            <td>
              <input type="hidden" id="order_id" name="order_id" value="{{order[0]}}">
              <select class="form-select" id="status_id" name="status_id" onchange="this.form.submit()">
                <option value="1" {% if order[5]==1 %}selected{% endif %}>Pending</option>
                <option value="2" {% if order[5]==2 %}selected{% endif %}>Processing</option>
                <option value="3" {% if order[5]==3 %}selected{% endif %}>Shipped</option>
                <option value="4" {% if order[5]==4 %}selected{% endif %}>Delivered</option>
                <option value="5" {% if order[5]==5 %}selected{% endif %}>Ready for Pick Up</option>
              </select>
            </td>
          </tr>
        </form>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <div class="d-flex justify-content-between ">
      <a href="{{ url_for('home') }}" class="btn btn-secondary" style="min-width: 120px;font-size: 17px;">Back</a>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item {% if page <= 1 %}disabled{% endif %}">
          <a class="page-link"
            href="{{ url_for('staff_record_status.display_orders', page=page-1, name=name, phone=phone) }}">Previous</a>
        </li>
        {% for p in range(1, total_pages + 1) %}
        <li class="page-item {% if p == page %}active{% endif %}">
          <a class="page-link"
            href="{{ url_for('staff_record_status.display_orders', page=p, name=name, phone=phone) }}">{{ p }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
          <a class="page-link"
            href="{{ url_for('staff_record_status.display_orders', page=page+1, name=name, phone=phone) }}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}