{% extends 'components/base.html' %}
{% block title %}Change Password {% endblock %}
{% block content %}
{% include 'components/message.html' %}
<div class="d-flex justify-content-center" style="background: linear-gradient(135deg,  #af69b7 0%, #d294ce 100%);padding:70px; margin-top:0;min-height: 75vh;min-width: 80rem;">

    <div style="width: 100%; max-width: 30vw;">
       
                <div class="card border-0" style="background-color: rgba(255, 255, 255, 0.85); backdrop-filter: blur(10px); border-radius: 15px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);">
                    <div class="card-body py-5 px-4">
                        <h5 class="card-title text-uppercase mb-4 text-center" style="color: #d294ce; font-weight: 700; font-size: 1.5rem;">Change Password</h5>
                        <form class="p-2" action="{{ url_for('manage_account.change_password') }}" method="post">
                            <div class="mb-4">
                                <label for="current_password" class="form-label fw-bold" style="color: #333; font-size: 1rem;">Current Password:  </label>
                                <input class="form-control" type="password" name="current_password" id="current_password" required style="border-radius: 10px;">
                            </div>
                            <div class="mb-4">
                                <label for="new_password" class="form-label fw-bold" style="color: #333; font-size: 1rem;">New Password:  </label>
                                <input class="form-control" type="password" name="new_password" id="new_password" required style="border-radius: 10px;">
                            </div>
                            <div class="mb-4">
                                <label for="confirm_password" class="form-label fw-bold" style="color: #333; font-size: 1rem;">Confirm Password:  </label>
                                <input class="form-control" type="password" name="confirm_password" id="confirm_password" required style="border-radius: 10px;">
                            </div>
                           
                            <div class="my-4 d-flex justify-content-between align-items-center"> 
                                <a href="{{ url_for('manage_account.user_profile') }}" class="btn btn-secondary" style="width: 150px; height: 39px; line-height: 24px;font-size: 14px;"><strong>Back</strong></a>
                                <button type="submit" class="btn btn-custom" style="width: 150px; height: 39px; line-height: 24px;font-size: 14px;"><strong>Change Password</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
    </div>
</div>
{% endblock %}
                